html, body {
	background-color: darkgrey;
	background-image: url(/img/Grey.jpg);
	color: #000000;
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding-top:20px;
	background-image: url(/img/white-and-gray-background.jpg);
}
#content {
	padding-bottom: 100px;
}
#footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	background-image: url(/img/red.jpg);
	color: grey;
}
#navbar {
	width: 90%;
}
a:visited {
	color: #38373C;
}
a {
	font-size: 20px;
	color: #38373C;
}
.form {
	position: relative;
	text-align: center;
	top: 150px;
}
input {
	border-style: solid;
	border-color: #000000;
	border-radius: 20px;
	width: 200px;
	height: 30px;
}