body {
	background-image: url(/img/Grey.jpg);
	color: #000000;
}
#navbar {
	width: 50%;
	height: 50px;
	position: absolute;
	text-align: left;
}
#media {
	width: 70%;
	left: 50%;
	position: absolute;
}
a:visited {
	color: #1A29BE;
}
.form {
	position: relative;
	text-align: center;
	top: 150px;
}
input {
	border-style: solid;
	border-color: #000000;
	border-radius: 20px;
	width: 200px;
	height: 30px;
}